.wrapper {
  width: 100%;
  padding: 0 1rem;

  tr:nth-child(even) {
    background-color: rgb(184, 246, 225);
  }

  tr,
  thead {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 2px solid black;

    td,
    th {
      width: 100%;

      text-align: left;
    }
  }
}

.header {
  padding: 0 1rem;
  font-size: 3rem;
}
